title {
  color: #000089;
  display: block;
  font-style: normal;
  text-align: center;
}
.intro {
  font-style: normal;
  font-family: monospace;
}
h1 {
  color: #E27D60;
  background-color:#1C6EA4;
  display: block;
  font-style: normal;
  text-align: left;
  border: 2px solid #1C6EA4;
}
h2 {
  color: #C36D9E;
  font-style: italic;
  text-align: left;
}
body {
  background-color: teal;
}
p {
  font-family: sans-serif;
  color: silver;
  display: normal;
  font-style: normal;
  background-color: inherit;
}
ul {
  line-height: 40px;
}
.float-right{
  float:right;
  margin-left: 40px;
}
.float-left{
  float:left;
  margin-right: 40px;
}
